@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease;
  animation: fadeInRight 1.5s ease;
}

.student{
  margin-top: 55px;
}

.popout{
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}




@keyframes popout {
    from{-webkit-transform:scale(0);transform:scale(0)}
    80%{-webkit-transform:scale(1.2);transform:scale(1.2)}
    to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.network-icons{
  margin-top: 50px;
}
.network-icons img{
  cursor: pointer;
  width: 10%;
}
.decaled{
  margin-left: 5.5%;
}

.right-decaled{
   margin-left: 68.1%;

}
.network-icons img:hover{
  opacity: 0.7;
}

.student p{
  font-size: 25px;
}

#popup {
  min-height: 25px;
  position: absolute;
  min-width: 120px;
  max-width:300px;
  background: white;
  z-index: 1000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 3px 3px 5px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 3px 3px 5px;
  padding:15px 10px;
}
#popup:after, #popup:before  {
  content: "";
  border-color: transparent; 
  border-style: solid; 
  border-width: 15px;
  position: absolute;
  left: 70px;
}
#popup:after {
  border-top-color: white; 
  bottom: -30px;
}
/* shadow */
#popup:before {
  border-top-color: rgba(0,0,0,0.3); 
  border-width: 18px;
  bottom: -36px;
}

.progress{
  margin-bottom: 0px;
  display: inline-block;
  width: 5%;
  background-color: #2C3E50;
}
.vertical{
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.progress-left{
  margin-left: 10%;
  margin-top: 31px;
  margin-bottom: -12px;
}
.progress-right{
  margin-left: 70.5%;
  margin-top: 31px;
  margin-bottom: -12px;
}
.progress-left-second{
  margin-left: 3.5%;
  margin-top: 31px;
  margin-bottom: -12px;
}
.progress-right-second{
  margin-left: 72.5%;
  margin-top: 31px;
  margin-bottom: -12px;
}

.progressChild{
  height: 10px;
  background-color: #2C3E50;
}
@media screen and (max-width: 1201px) {
  .right-decaled{
    margin-left: 74.1%;

  }
  .progress-right-second{
    margin-left: 77.8% !important;
  }
}

.imageNetwork{
  display: inline-block;
}

.margin-t{
  margin-top: 85px;
}

.quit{
  top:0;
  right: 5px;
  font-size: 12px;
  position: absolute;
  cursor: pointer;

}